# محیط مجازی (venv)
venv/

# فایل‌های پایتون کامپایل شده
*.pyc
__pycache__/

# دیتابیس SQLite
db.sqlite3

# فایل‌های لاگ
*.log

# فایل‌های پیکربندی محلی
*.pot

# سایر فایل‌ها و پوشه‌ها که نیاز نیستند
*.pyo
*.sqlite3
